@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*--------------------- reset ---------------------*/
html, body {
    height: 100%;
}

body {
  min-width: 1200px;
  max-width: none !important;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;  
  line-height: 1.4;
  background-color: #1A233A; 
  color: #8A99B5;
}
.content-wrapper {
  height: 100%;
  min-height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 30px 60px;
}
.content-wrapper:before,
.content-wrapper:after {
  content: " ";
  display: table;
}


/*--------------------- basic ---------------------*/
a {
  color: #8A99B5;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #5A8DEE;
  outline: 0;
  text-decoration: none;
  cursor: pointer; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.4; 
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
  max-width: 100%; 
}

.img-fluid {
  width: 100%; 
}

.divide {
  border-top-color: #E5E7EB;
  opacity: 1;
}

.list-style-disc {
  list-style: disc;
}


/*--------------------- Colors & Fonts ---------------------*/ 
.text-primary {
  color: #5A8DEE !important;
}
.text-danger {
  color: #F64E60 !important;
}
.text-info {
  color: #39DA8A !important;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fw-bold {
  font-weight: 700;
}


/*--------------------- Buttons ---------------------*/ 
.btn {
  padding: 0.5rem 1rem;
}
.btn:active,
.btn:focus {
  outline: 0 !important;
}
.btn-primary {
  color: rgb(255, 255, 255);
  background-color: #5A8DEE;
  border-color: #5A8DEE;
}
.btn-primary:focus, 
.btn-primary:hover, 
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #4673c7;
  border-color: #4673c7;
}
.btn-secondary {
  color: rgb(255, 255, 255);
  background-color: #8A99B5;
  border-color: #8A99B5;
}
.btn-secondary:focus, 
.btn-secondary:hover, 
.btn-secondary:not(:disabled):not(.disabled):active {
  color: rgb(255, 255, 255);
  background-color: #677287;
  border-color: #677287;
}
.btn-outline-primary {
  color: #5A8DEE;
  background-color: transparent;
  border: 1px solid #5A8DEE;
}
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: #fff;
  background-color: #5A8DEE;
  border: 1px solid #5A8DEE;
}
.btn-dark {
  background-color: #32436F;
  border-color: #32436F;
}
.btn-dark:focus,
.btn-dark:hover {
  background-color: #334573;
  border-color: #334573;
}
.btn-link {
  color: #5A8DEE;
}
.btn-link:focus,
.btn-link:hover {
  color: #4673c7;
}
.btn-xs {
  padding: 0.15rem 0.5rem;
  font-size: 13px;
}


/*--------------------- Table ---------------------*/
.table {
  color: #8A99B5;
  width: 100% !important;
  border-top: 2px solid #5A8DEE;
}
.table-bordered th, .table thead th, .table tbody td, .table tfoot td {
  text-align: center !important;
  vertical-align: middle !important;
  border-color: #474d63 !important;
}
.table tbody th, .table tbody td, .table tfoot td {
  font-weight: normal;
  background-color: #272E48;
}
.table tbody tr:hover {
  color: #8A99B5;
  background-color: #313959;
}
.table tbody td .btn-link {
  text-decoration: underline;
}


/*--------------------- Form ---------------------*/
.form-row .form-group {
  margin-bottom:  0;
}

.form-control {
  height: 50px;
  color: #8A99B5;
  background-color: #313959;
  padding: 0.75rem;
  border-color: #495279;
}
.form-control:focus {
  color: rgb(255, 255, 255);
  background-color: #495279;
}

.custom-control {  /* for custom checkbox in datatable*/
  padding-left: 1.85rem;
}
input[type='checkbox'] {
  accent-color: #5A8DEE;
}

.input-group-text {
  background-color: #32436f;
  color: #8A99B5;
  padding: 0.375rem 1rem;
  border-color: #495279;
}
.select-worker-list .input-group + .input-group {
  margin-top: -1px;
}
.select-worker-list .input-group-text {
  width: 86px;
}
.select-worker-list .input-group:first-child > .input-group-prepend > .input-group-text {
  border-top-left-radius: 0.25rem;
}
.select-worker-list .input-group > .input-group-prepend > .input-group-text, 
.select-worker-list .input-group > .form-control {
  border-radius: 0px;
}
.select-worker-list .input-group:first-child > .form-control {
  border-top-right-radius: 0.25rem;
}
.select-worker-list .input-group:nth-child(3) > .form-control {
  border-bottom-right-radius: 0.25rem;
}
/* toggle checkbox */
.toggleCheckbox {
  display: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0px;
}
input[type="checkbox"] {
  accent-color: #5A8DEE;
}
.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  background-color: #617191;
  color: #617191;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #617191;
  border-image: initial;
  border-radius: 4px;
}
.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  background-color: #5A8DEE;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.toggleContainer span {
  text-align: center;
  z-index: 1;
  padding: 0.5rem 1.5rem;
}
.toggleCheckbox + .toggleContainer span:first-child {
  color: #ffffff;
  transition: color 0.3s ease 0s;
}
.toggleCheckbox:checked + .toggleContainer span:first-child {
    color: #98a1b1;
    transition: color 0.3s ease 0s;
}
.toggleCheckbox + .toggleContainer span:last-child {
  color: #98a1b1;
  transition: color 0.3s ease 0s;
}
.toggleCheckbox:checked + .toggleContainer span:last-child {
  color: #ffffff;
  transition: color 0.3s ease 0s;
}


/*--------------------- Modal ---------------------*/
.modal-content {
  background-color: #1a233a;
}
.modal-header, .modal-footer {
  border-color: #31394e;
}
.modal-title {
  color: #bdd1f8;
  font-weight: 700;
}
.modal-header .close {
  text-shadow: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 0.85rem;
}
.modal-body {
  padding: 2rem 3rem;
}
.modal-footer {
  font-size: 1rem;
  justify-content: center;
}


/*--------------------- Layout ---------------------*/
.container-fluid, .container {
  min-width: 970px;
  max-width: none !important;
}

.header {
  border-top: 8px solid #588cef;
  padding: 16px 40px 8px;
}
.footer {
  border-top: 1px solid #31394e;
  padding: 10px 40px;
}
.footer a {
  padding: 0 0.25rem;
}
.page-header {
  display: flex;
  justify-content: space-between;
  color: #bdd1f8;
}
.breadcrumb {
  margin-bottom: 0px;
  background-color: transparent;
  font-size: 14px;
}
.breadcrumb-item.active {
  color: #bdd1f8;
  font-weight: normal;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #8A99B5;
}

/*--------------------- Navbar ---------------------*/ 
.navbar {
  padding: 0px 1rem;
  margin: 0px 40px;
  border-radius: 5px;
}
.navbar-dark {
  background-color: #272e48;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
  margin: 0px;
}

.navbar-nav .nav-link {
  color: #8A99B5 !important;
  padding: 1.25rem 1.5rem !important;
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  position: relative;
  background-color: #2c3859;
  color: #9abdff !important;
}
.navbar-nav .nav-link.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: #588cef;
}


/*--------------------- Notification ---------------------*/ 
.notification .dropdown-toggle::after {
  display: none;
}
.notification .dropdown-menu {
  width: 390px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #313959;
  padding: 1rem;
}
.unread-notification {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 2px;
  width: 7px;
  height: 7px;
  background-color: #f64e60;
  border-radius: 7px;
}
.notification .toast-label {
  font-weight: 700;
  color: #bdd1f8;
}
.notification .no-msg {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}
.toast {
  width: 450px;
  background-color: #ffffff;
}
.toast-header {
  padding-top: 8px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: none;
}
.toast.toast-danger .title {
  color: #f64e60;
}
.toast-body {
  font-size: 0.875em;
  padding-top: 0px;
}
.toast:not(:last-child) {
  margin-bottom: 0.25rem;
}

.toast.toast-info {
  border-left: 5px solid #39da8a;
}
.toast.toast-danger {
  border-left: 5px solid #f64e60;
}


/*--------------------- Pagination ---------------------*/
.pagination {
  gap: 3px;
  margin: 2rem !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page-item .page-link,
.page-item.disabled .page-link {
  padding: 0.75rem 1.25rem;
  margin-left: 0;
  background-color: #333B55;
  border-color: #333B55;
  color: #bdd1f8;
  
}
.page-item.disabled:hover .page-link {
  background-color: #465071;
  border-color: #465071;
}
.page-item.active .page-link {
  background-color: #588cef;
  border-color: #588cef;
}


/*--------------------- Cards  ---------------------*/ 

/* custom scroll */
.y-scroll {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #31394e;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #495279; 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}

.card {
  background-color: #272e48;
}
.card .card-body {
  padding: 1.5rem;
}
.card-group {
  position: relative;
  gap: 1rem;
  overflow-x: hidden;
}
.card-group .card {
  flex: 1 1 auto;
  position: relative;
  max-width: 324px;
  width: 19%;
  height: 234px;
  overflow: hidden;
}

@media (min-width: 1840px) {
  .card-group .card {
    max-width: 344px;
  }
}

.card .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .btn-floating {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 95px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,.7);
  transform: scale(1);
}
.card .btn-floating:focus,
.card .btn-floating:hover {
  color: rgba(255,255,255,1);
  transform: scale(1.2);
  transition: all 0.3s;
}
.card .btn-floating .bi::before {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 50px;
}
.card .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.card .overlay .bi {
  color: rgba(255,255,255,.5);
  transform: translateX(-5px);
}
.card .overlay:focus .bi,
.card .overlay:hover .bi {
  color: rgba(255,255,255,1);
  transform: translateX(0);
  transition: all 0.5s;
}
.card .overlay .badge {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
}
.badge.badge-danger {
  background-color: #F64E60;
}
.badge.badge-safety {
  background-color: #39DA8A;
}
.apply-box .card-body {
  position: relative;
  height: 300px;
  overflow-y: auto;
}
.apply-box .empty-msg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #313959;
  z-index: 2;
}


/*--------------------- Pages  ---------------------*/ 
.embed-container {
  position: relative;
}
.embed-container .floating-select,
.embed-container .floating-thumb {
  position: absolute;
  right: 1rem;
  z-index: 999;
}
.embed-container .floating-select {
  top: 1rem; 
}
.embed-container .floating-thumb {
  bottom: 1rem;
  right: 1rem;
  width: 224px;
  height: 175px;
  overflow: hidden;
  background-color: #000;
}

.inline-list-group {
  display: flex;
}
.list-style-disc {
  list-style-type: disc;
  margin-right: auto;
}
.list-style-disc .title {
  margin-right: 1.5rem;
  color: #bdd1f8;
}
.page-top-form {
  margin-bottom: 2rem;
}
.page-top-form .btn {
  width: 100%;
  padding: .75rem 1rem;
}
.page-bottom {
  display: flex;
  justify-content: center;
}
.table-top-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.table-top-info .btn-group {
  display: block;
}


.tabs-group {
  position: relative;
}
.tabs-group .nav-tabs {
  height: 40px;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #272E48;
}
.tabs-group .nav-tabs li {
  min-width: 120px;
  display: flex;
  align-items: flex-start;
  margin: 0!important;
}
.tabs-group .nav-tabs .nav-link {
  width: 100%;
  text-align: center;
  border-color: transparent;
  background-color: #1A233A;
}
.tabs-group .nav-tabs .nav-link:focus,
.tabs-group .nav-tabs .nav-link:hover {
  color: #5A8DEE;
  background-color: #272E48;
}
.tabs-group .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #272E48;
  border-color: #272E48;
}

button.left, 
button.right {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#272E48;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border:none;
  color: #ffffff;
  z-index: 2;
}
button.right{
right: 0;
left:unset;

}
.scroller-btn.inactive {
  opacity: 0.3;
  pointer-events: none;
}

.form-group .alert {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-size: 13px;
}